
 <div class="container">

<form [formGroup]="loginForm" (ngSubmit)="submitFrom()">

    <h1>Shop with Brands</h1>

    <div>
        <mat-form-field class="w-full">

            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required email>

            
            <mat-error  *ngIf="loginForm.controls['email'].hasError('required')">Email is Required</mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Enter Valid Email </mat-error>


        </mat-form-field>



        <mat-form-field class="w-full">

            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required password>

            
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is Required</mat-error>
            <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">Enter Atleast 8 character Long Password</mat-error>


        </mat-form-field>


        <div>
            <button style="padding: 1.7rem;" class="w-full" color="accent" mat-flat-button>Login</button>

        </div>

        <div class="pt-5">
            <span>If You dont have an account Yet ??</span>
            <button mat-button color="accent"  (click)="changeTamplate()">Register</button>
        </div>


    </div>





</form>





</div> 