<div class="container">
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img
                    class="w-full h-full rounded-full"
                    src="https://i.pinimg.com/564x/d5/b0/4c/d5b04cc3dcd8c17702549ebc5f1acf1a.jpg"
                    alt="">
            </div>
        </div>

        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">Parth Modi</p>
                    <p class="opacity-70">13 June,2024</p>
                </div>
                <div>
                    <app-star-rating/>
                </div>
                <p>Nice Product</p>

            </div>

        </div>
    </div>
</div>

